# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
.next/
out/
build/

# Env files
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma
*.db
*.db-journal

# Turbo
.turbo/

# IDE
.vscode/
.idea/
*.swp
